<!DOCTYPE html>
<html>
<head>
    <title>Payouts List</title>
</head>
<body>
    <h1>Payouts List</h1>
    <table>
        <thead>
            <tr>
                <th>pool</th>
                <th>amount</th>
                <th>week</th>
                <th>season</th>
            </tr>
        </thead>
        <tbody>
            {% for payout in payouts %}
            <tr>
                <td>{{ payout.pool }}</td>
                <td>{{ payout.amount }}</td>
                <td>{{ payout.week }}</td>
                <td>{{ payout.season }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>